runtime: nodejs14

service: {SERVICE_NAME}

includes:
- base-gae-handlers.yaml

env_variables:
  GOOGLE_APPLICATION_CREDENTIALS: {GOOGLE_APPLICATION_CREDENTIALS}
  METRIC_BUCKET: {METRIC_BUCKET}
  AUTH_ENABLED: {AUTH_ENABLED}
